<!DOCTYPE html>
  <body>
    <%= javascript_include_tag :defaults %>
    <div class="navbar">
      <ul class="nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="http://thothathri-srinivasan.blogspot.com/" target="_blank">Blog</a></li>
      </ul>
    </div>
    <div>
      <h1>Thothathri Srinivasan</h1>
    </div>
    <div class ="mainBody">
      <p class="lead">This site is temporarily out of service, I'm working on fixing it right away!</p>
    <a href="https://twitter.com/thotha3" class="twitter-follow-button" data-show-count="false">Follow @thotha3</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </body>
</html>